# Lab 00 - A - Data Analysis In Python - First Steps

Machine learning and data analysis (that is usually also a pre-step for learning) deal with data. Thererefore we need tools to manipulate it and extract the information we want. In the Python environment there are two very useful packages for this: [`numpy`](https://numpy.org/doc/1.19/) and [`pandas`](https://pandas.pydata.org/docs/reference/index.html#api).

In this lab, we will take the first steps into using these packages and see some of their functionalities. These will be needed throughout the course. Both packages contain many useful functionalities, of which we will introduce only a few. To find out more about the other functionalities, the documentations, **Google** and **StackOverflow** are your best friends.

In [42]:
# Load commonly used imports (such as numpy and pandas) and several utils functions that 
# are used thoughout different labs and code examples

import sys
sys.path.append("../")
from utils import *

# Numpy - The Basics

Let us start with numpy. This package supports vector, matrix and tensor operations over numerical (but not just) data. It is very comfortable and much faster than `for` loops and classic `list` manipulations.

## Array Creation

There are multiple ways to create an array. We can create it from an existing list, load it from a file or generate a new array.

In [43]:
array_1D = np.array([6, 2, 8, 4, 5, 10, 7, 143, 9, 10])
print(array_1D)
print(array_1D.shape)

[  6   2   8   4   5  10   7 143   9  10]
(10,)

In [44]:
array_2D = np.array(
    [[10, 20, 30, 40], 
     [100, 200, 300, 400], 
     [1000, 2000, 3000, 4000]])
print(array_2D)
print(array_2D.shape)

[[  10   20   30   40]
 [ 100  200  300  400]
 [1000 2000 3000 4000]]
(3, 4)

In [45]:
array_3D = np.array(
    [[[10, 20, 30, 40], [100, 200, 300, 400], [1000, 2000, 3000, 4000]],
    [[11, 21, 31, 41], [101, 201, 301, 401], [1001, 2001, 3001, 4001]]])
print(array_3D)
print(array_3D.shape)

[[[  10   20   30   40]
  [ 100  200  300  400]
  [1000 2000 3000 4000]]

 [[  11   21   31   41]
  [ 101  201  301  401]
  [1001 2001 3001 4001]]]
(2, 3, 4)

Using `numpy`'s functions for creating new arrays requires specifying the shape of the desired output array. This is an n-array tuple specifying the sizes of the different dimensions. 

*   Specifying the shape `(3)` will create a 1D array with 3 entries.
*   Specifying the shape `(10, 3)` will create a 2D matrix with 10 rows and 3 columns.
*   Specifying the shape `(10, 28, 28)` will create a 3D matrix (a tensor) which we can think of in the following manner: it is an object holding 10 2D matrices of size 28x28.

In [46]:
# Initalize arrays with built-in numpy functions
zeros_3D = np.zeros((4, 5, 2)) # Create a 3D arrays of 0's
ones_2D = np.ones((4, 5)) # Create a 2D arrays of 1's
print(zeros_3D)
print(ones_2D)

[[[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]]
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [47]:
np.arange(50) # Create the vector [0, 1, 2, 3, 4, .. , 48, 49]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [48]:
# Create a vector of random integers from 5 to 50, with shape (2, 3)
np.random.randint(5, 50, (2, 3))

array([[15, 17, 46],
       [12, 34, 18]])

There are many other functions such as `np.full`, `np.eye`, `np.random.uniform`, etc. Next, let us load an existsing dataset into a numpy array. This specific dataset represents images.

In [49]:
img_array = np.loadtxt(open("../datasets/MNIST_Images.csv", "rb"), delimiter=",").reshape(-1, 28, 28)
img_array.shape

(100, 28, 28)

In [50]:
px.imshow(img_array[0]).show()

## Array indexing and slicing

A great strength of `numpy` is the ease in subsetting an array to retrieve only specific parts of it. We do so by indexing and slicing the arrays. For 1D arrays these operations are very similar to those over lists.  For arrays of higher dimensions, we use a comma to separate the slicing of each dimension. For example, accessing an element in the array `arr` in the first row and second column is done by: `arr[0, 1]` (recall indexing in python begins from zero). To select only the second column, over all rows write: `arr[:, 2]`

In [51]:
array_1D = np.array([10, 11, 12, 13, 14, 15, 16])
# Select 1st element
print("Select 1st element") 
print(array_1D[1])

# Select all the elements from 1st to 4th element
print("\nSelect all the elements from 1st to 4th element") 
print(array_1D[1:5])

# Select elements [1, 4]
print("\nSelect elements [1, 4]")
print(array_1D[[1, 4]])


array_2D = np.array([[1, 2, 3, 4],
                     [5, 6, 7, 8],
                     [9, 10, 11, 12],
                     [13, 14, 15, 16],
                     [17, 18, 19, 20]])
# Select 1st row, 2nd column  
print(array_2D[1, 2])


randint_2D = np.random.randint(5, 50, (10, 20))
print("\nPrint random array")
print(randint_2D)

# Select from 3rd row to 5th, all the columns
print("\nSelect from 3rd row to 5th, all the columns")
print(randint_2D[2:5, :])

# Select from 3rd row to 5th, columns 1 and 2
print("\nSelect from 3rd row to 5th, columns 1 and 2")
print(randint_2D[2:5, 1:3])

# Select from 3d row to 5th, columns 3, 5, 6, and  11
print("\nSelect from 3rd row to 5th, columns 3, 5, 6, and  11")
print(randint_2D[2:5, [3, 5, 6, 11]])

Select 1st element
11

Select all the elements from 1st to 4th element
[11 12 13 14]

Select elements [1, 4]
[11 14]
7

Print random array
[[36 15 46 28 30 24 39 32 23 17 25 37 36 36 24 26  7  7 32 17]
 [48 46 31 48 26 45 40 23 27 20 46 35 39 28 31 48 39 28 25 33]
 [ 8 34 33 22  9 15 10 39 46 33  7 19 11 33 25 37 35 36 42 29]
 [46 19 26 13  9 24 49 40 26 38 49 37 24 41 16 22 48 46  6 43]
 [15 13 10 27  8 22 30 10 49  6 14 29 11 10 30 31  9  7 11 27]
 [41 11  8 17 42 48 44 39 24 25 36 43 31 22 28 41  8 20 19 17]
 [26 23 18 38 10 29 40 19 30 27 28 25 14 20 20 44 41  5  9 29]
 [38 30 15 32 27  7 14  7 35 42  9 49  9 17 42 15 48  6 32 48]
 [27 47  9 30 33 25  7 43 18 25 27 17 17 13 27 16 32 26 48 22]
 [31 42 34  5 25 43 22 37 22  9 34 36  7 20  9 14  9 22 42 48]]

Select from 3rd row to 5th, all the columns
[[ 8 34 33 22  9 15 10 39 46 33  7 19 11 33 25 37 35 36 42 29]
 [46 19 26 13  9 24 49 40 26 38 49 37 24 41 16 22 48 46  6 43]
 [15 13 10 27  8 22 30 10 49  6 14 29 11 10 30 31  9  7 11 27]]

Select from 3rd row to 5th, columns 1 and 2
[[34 33]
 [19 26]
 [13 10]]

Select from 3rd row to 5th, columns 3, 5, 6, and  11
[[22 15 10 19]
 [13 24 49 37]
 [27 22 30 29]]

## Matrix Operations
Another strength of the `numpy` package is that all matrix operations you can think of (and even more) are already implemented. For example, element-wise addition of scalar, multiplication, powering up a matrix, log-transformations and much more.

As `numpy` overloads the different mathematical operators, it is easy to write mathematical expressions over 2 (or more) vectors/matrices, such as summing or multiplying and also comparing their elements.

In [52]:
# Operations on 1 matrix
A = np.arange(1, 33).reshape(4, 8) # Create an array of numbers from 1 ot 32, and then make a 2d array of 4 rows to 8 columns
print(A)

print("\n\nA + 1:")
print(A + 1)
print("\n2 * A:")
print(2 * A)
print("\nA*A*A:")
print(np.power(A, 3))
print("\nlog(A):")
print(np.log(A))
print("\nA Transpose:")
print(A.transpose) # also np.transpose(A) and A.T are valid syntaxes
print("\n A > 10:")
print(A > 10)

# Operations on 2 matrices
A = np.arange(6).reshape([2, 3])
B = np.random.randint(1, 10, (2, 3))
print("A")
print(A)
print("\n\nB")
print(B)

print("\nA+B:")
print(A + B) # Equivalent to np.add(a_array, b_array)
print("\n A * B (element-wise multiplication):")
print(np.multiply(A, B))
print("\n AB (matrix multiplication):")
print(A @ B.T) # Equivalent to np.dot(a_array, b_array)

print("\nA > B")
print(A > B)

[[ 1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16]
 [17 18 19 20 21 22 23 24]
 [25 26 27 28 29 30 31 32]]


A + 1:
[[ 2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17]
 [18 19 20 21 22 23 24 25]
 [26 27 28 29 30 31 32 33]]

2 * A:
[[ 2  4  6  8 10 12 14 16]
 [18 20 22 24 26 28 30 32]
 [34 36 38 40 42 44 46 48]
 [50 52 54 56 58 60 62 64]]

A*A*A:
[[    1     8    27    64   125   216   343   512]
 [  729  1000  1331  1728  2197  2744  3375  4096]
 [ 4913  5832  6859  8000  9261 10648 12167 13824]
 [15625 17576 19683 21952 24389 27000 29791 32768]]

log(A):
[[0.         0.69314718 1.09861229 1.38629436 1.60943791 1.79175947
  1.94591015 2.07944154]
 [2.19722458 2.30258509 2.39789527 2.48490665 2.56494936 2.63905733
  2.7080502  2.77258872]
 [2.83321334 2.89037176 2.94443898 2.99573227 3.04452244 3.09104245
  3.13549422 3.17805383]
 [3.21887582 3.25809654 3.29583687 3.33220451 3.36729583 3.40119738
  3.4339872  3.4657359 ]]

A Transpose:
<built-in method transpose of numpy.ndarray object at 0x000001E4836F4330>

 A > 10:
[[False False False False False False False False]
 [False False  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True  True]]
A
[[0 1 2]
 [3 4 5]]


B
[[4 6 8]
 [8 2 3]]

A+B:
[[ 4  7 10]
 [11  6  8]]

 A * B (element-wise multiplication):
[[ 0  6 16]
 [24  8 15]]

 AB (matrix multiplication):
[[22  8]
 [76 47]]

A > B
[[False False False]
 [False  True  True]]

For many `numpy` operations we can specify the `axis` over which to perform the operation:

In [53]:
# Concatenate matrices
print("\nConcatenate 2 arrays by the rows:")
print(np.concatenate((A, B), axis = 0)) # Concatenate rows - look at the shape
print("\nConcatenate 2 arrays by the columns:")
print(np.concatenate((A, B), axis = 1)) # Concatenate columns - look at the shape

Concatenate 2 arrays by the rows:
[[0 1 2]
 [3 4 5]
 [4 6 8]
 [8 2 3]]

Concatenate 2 arrays by the columns:
[[0 1 2 4 6 8]
 [3 4 5 8 2 3]]

##  Basic Statistics

You can easily calculate a lot of basic statistics from an array, such as the sum, mean, variance, maximum, argmax, etc. All of these can be retrieved either over the entire array or over rows/columns.

For each of these functions, you can get the statistic for: 
- the whole array: `np.stat(arr)`
- by row: `np.stat(arr, axis = 1)`
- by column: `np.stat(arr, axis = 0)`

In [54]:
# Basic statistics of a matrix
A = np.arange(6).reshape([2, 3])
print("A")
print(A)

print("\n\nSum of the array")
print(np.sum(A)) # Sum all the matrix (return a scalar)
print("\nSum of the array by column")
print(np.sum(A, axis = 0)) # Sum by column (return a vector)
print("\nSum of the array by row")
print(np.sum(A, axis = 1)) # Sum by row (return a vector)

print("\nMax of each row")
print(np.max(A, axis = 1)) # Max by column (return a vector)

print("\nMax of each column")
print(np.max(A, axis = 0)) # Max by row (return a vector)

print("\nAverage of all the array")
print(np.mean(A))

A
[[0 1 2]
 [3 4 5]]


Sum of the array
15

Sum of the array by column
[3 5 7]

Sum of the array by row
[ 3 12]

Max of each row
[2 5]

Max of each column
[3 4 5]

Average of all the array
2.5

## Sampling From Distributions

`numpy` provides a broad set of distributions to sample from. We will cover this in more depth in lab 2.

In [55]:
A = np.random.randint(1, 15, size = 20)
print("A")
print(A)

print("\n\nThe values that appear in the array")
print(np.unique(A))
print("\nHow many values are between [0, 5), [5, 10), [10, 15]")
np.histogram(A, bins = [0, 5, 10, 15])

A
[14  9  4  2  4 12 12 13  7  1  7 13  6  6  8 13  5  4  1  5]


The values that appear in the array
[ 1  2  4  5  6  7  8  9 12 13 14]

How many values are between [0, 5), [5, 10), [10, 15]

(array([6, 8, 6], dtype=int64), array([ 0,  5, 10, 15]))

## Linear Algebra
One of the most important mathematical fields in machine learning is linear algebra. You can perform many of these operations using `numpy`. You can calculate the eigenvectors of a matrix, or its inverse, the rank of the matrix and so on.

In [56]:
A = np.array([[1., 2.], [3., 4.]])
print("A")
print(A)
print("\n\nInverse of A")
print(np.linalg.inv(A))

B = np.diag((1, 2, 3))
print("\n\nB")
print(B)

eigvalues, eigvectors = np.linalg.eig(B)
print("\neigenvalues, eigenvectors")
print(eigvalues, eigvectors)

print("\nRank of the matrix")
print(np.linalg.matrix_rank(B))

A
[[1. 2.]
 [3. 4.]]


Inverse of A
[[-2.   1. ]
 [ 1.5 -0.5]]


B
[[1 0 0]
 [0 2 0]
 [0 0 3]]

eigenvalues, eigenvectors
[1. 2. 3.] [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Rank of the matrix
3

## Reshaping

You can change the shape of your array, with transpose, flattening, reshape, 
adding a new axis (see `np.newaxis`)

In [57]:
B = np.array([[1, 2, 3], [4, 5, 6]])

print("\n\nB")
print(B)

print("\nFlatten matrix")
print(np.ravel(B))


print("\nTranspose matrix")
print(B.transpose())

B
[[1 2 3]
 [4 5 6]]

Flatten matrix
[1 2 3 4 5 6]

Transpose matrix
[[1 4]
 [2 5]
 [3 6]]

## Sorting

You can sort the matrix by row or by column

In [58]:
B = np.array([[3, 6, 1, 4, 10], [5, 1, 8, 3, 65]])

print("B")
print(B)

print("\n\nSort by row")
print(np.sort(B, axis = 1))

B
[[ 3  6  1  4 10]
 [ 5  1  8  3 65]]


Sort by row
[[ 1  3  4  6 10]
 [ 1  3  5  8 65]]

## Indexing By Condition

In [59]:
A = np.random.randint(1, 30, (5, 4))
print("A")
print(A)

print("\nGet the numbers that are greater than 5:")
print(A[A > 5])

print("\nGet the numbers that are divisible by 4:")
print(np.extract(np.mod(A, 4)==0, A))

A
[[ 5 14 21 12]
 [18  7 18 21]
 [16 23 11  1]
 [13 11 28  8]
 [19 15 11 29]]

Get the numbers that are greater than 5:
[14 21 12 18  7 18 21 16 23 11 13 11 28  8 19 15 11 29]

Get the numbers that are divisible by 4:
[12 16 28  8]

## Let's practice!

To get you a bit more accustomed to `numpy` you are encouraged to solve the following challenges. If you choose to not solve the following challenges, be sure to understand the solutions. Do not use loops or list comprehensions.


Write a program to create a `7x10` matrix that has `0` and `1` staggered:
```
# 0 1 0 1 0 1 0
# 1 0 1 0 1 0 1
# 0 1 0 1 0 1 0
# 1 0 1 0 1 0 1
```
Hint: use slice operations on different axes.

In [60]:
staggered = np.zeros((7, 10))
staggered[::2, 1::2] = 1
staggered[1::2, ::2] = 1

print(staggered)

[[0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1. 0. 1.]]

Calculate the volume of a cylinder with the following diameters and lengths:

In [61]:
diameters = np.array([1, 3, 5, 2, 4])
lengths = np.array([10, 20, 3, 10, 5])

In [62]:
print(np.array(np.power(diameters/2, 2)*lengths*np.pi))

[  7.85398163 141.37166941  58.90486225  31.41592654  62.83185307]

Write a function that receives 2 vectors and returns their cartesian product:
```
def create_cartesian_product(vec1, vec2):
  pass
```

In [63]:
def cartesian_product(vec1, vec2):
    # np.repeat([1, 2, 3], 4) -> [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]
    # np.tile([1, 2, 3], 4)   -> [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
    return np.transpose(np.array([np.repeat(vec1, len(vec2)), np.tile(vec2, len(vec1))]))

print(cartesian_product([1, 2, 3], [4, 5, 6, 7]))

[[1 4]
 [1 5]
 [1 6]
 [1 7]
 [2 4]
 [2 5]
 [2 6]
 [2 7]
 [3 4]
 [3 5]
 [3 6]
 [3 7]]

Given an array `a` and a number `n`, find the closest number to `n` in `a`:
```
def find_closest(a, n):
  pass
```

In [64]:
def find_closest(a, n):
  a = np.array(a)
  return a[np.argmin(np.abs(a - n))]
                     
print(find_closest([1, 24, 12, 13, 14], 10))

12

Check if the sudoku grid is valid:
*   Check that each row contains all the numbers from 1 to 9
*   Check that each column contains all the numbers from 1 to 9
*   Check that each of the 9 non-overlapping `3x3` blocks composing grid contain 1 to 9

You can assume it contains only integers and that the shape of the array is `9x9`
```
def check_sudoku(grid):
  pass
```

In [65]:
def is_1_to_9(array_):
  # Return True if the array contains all the numbers from 1 to 9, False otherwise
    return np.all(np.sort(array_, axis = None) == np.arange(1, 10))

def check_sudoku(grid):
    def check_block(coords_block):
        return is_1_to_9(grid[coords_block[0]*3 : coords_block[0]*3+3, 
                              coords_block[1]*3 : coords_block[1]*3+3])

    grid = np.array(grid)

    # Check that the grid contains only 1 to 9
    if (not is_1_to_9(np.unique(grid))):
        return False

    # Check that each line/column contains 1 to 9:
    # Sort each column. We expect it to be
    # [[1, 1, 1, 1, 1, 1, 1, 1, 1], [2, 2, 2, 2, 2, 2, 2, 2] ... [9, 9, 9, 9, 9, 9, 9, 9, 9]]
    # Thus we expect the sums of the rows: 1*9, 2*9....
    if  np.any(np.sum(np.sort(grid, axis = 0), axis = 1) != np.arange(1, 10)*9):
        return False

    # Make the same for the columns
    if np.any(np.sum(np.sort(grid.transpose(), axis = 0), axis = 1) != np.arange(1, 10)*9):
        return False


    # 0,0 0,0 0,0    0,1 0,1 0,1    0,2 0,2 0,2
    # 0,0 0,0 0,0    0,1 0,1 0,1    0,2 0,2 0,2
    # 0,0 0,0 0,0    0,1 0,1 0,1    0,2 0,2 0,2
    #
    #
    # 1,0 1,0 1,0    1,1 1,1 1,1    1,2 1,2 1,2
    # 1,0 1,0 1,0    1,1 1,1 1,1    1,2 1,2 1,2
    # 1,0 1,0 1,0    1,1 1,1 1,1    1,2 1,2 1,2
    #
    #
    # 2,0 2,0 2,0    2,1 2,1 2,1    2,2 2,2 2,2
    # 2,0 2,0 2,0    2,1 2,1 2,1    2,2 2,2 2,2
    # 2,0 2,0 2,0    2,1 2,1 2,1    2,2 2,2 2,2


    # For each block of 9, check if it contains all the numbers 1 to 9
    blocks_are_valid = np.apply_along_axis(check_block, 1, cartesian_product([0, 1, 2], [0, 1, 2]))
    return np.all(blocks_are_valid)

Given a matrix, check if some row is a scalar multplication of another
```
def check_dependencies(matrix_):
  pass
```

In [66]:
def check_dependencies(matrix_):
    def rows_are_dependent(indices):
        if indices[0] == indices[1]:
            return False
        return np.unique(matrix_[indices[0],] / matrix_[indices[1],]).shape[0] == 1

    return np.any(np.apply_along_axis(rows_are_dependent, 1,
                                      cartesian_product(np.arange(matrix_.shape[0]), np.arange(matrix_.shape[0]))))

Write a function that gets a 1D array and check if there is no local extrema point in addition to the global one.
```
def have_an_extrema(array):
  pass
```

In [67]:
def have_a_maxima(array):
    argmax_arr = np.argmax(array[1:-1]) + 1
    before_max_neg = np.all(array[:argmax_arr - 1] - array[1:argmax_arr] < 0)
    after_max_neg = np.all(array[argmax_arr:-1] - array[argmax_arr + 1:] > 0)
    return before_max_neg and after_max_neg

def have_an_extrema(array):
    # Check if it is a monotonic series
    if np.unique(array[:-1] - array[1:]).shape[0] == 1: return True

    # If there is a minimum, we can look for a maximum in the negated array
    return have_a_maxima(array) or have_a_maxima(-array)

Note that instead of `array[:argmax_arr - 1] - array[1:argmax_arr]`, you could use the `np.diff` function

# Pandas
Until now, we have only looked at numerical data. But in real-world problems, we also have textual and categorical data. To manipulate this type of data, we will use the `pandas` library. One of the basic data structures of `pandas` is called a `DataFrame`. Generally, in a `DataFrame`, each row is a different sample and each column is a feature.

For example, each row can represent a student, with columns of the ID, birthday, and gender of the student. 

`pandas` has a lot of possibilities of which we are going to introduce a very small subset.

## Array Creation

In addition to creating an array from lists or randomly generated data frames, we are going to use an existing dataset of house prices (you will get back to this dataset in excercise 2).

In [68]:
# Load https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data?select=train.csv
df = pd.read_csv('../datasets/house_train.csv', index_col=0)
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [69]:
print("\nRows Names")
print(df.index)
print("\nColumns Names")
print(df.columns)
print("\nDf train shape")
print(df.shape)

Rows Names
Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
           dtype='int64', name='Id', length=1460)

Columns Names
Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

Df train shape
(1460, 80)

## Indexing And Slicing
Just like when using `numpy` you can select a subset of rows and columns. You can do it using indices or using names of the rows and columns. You can easily add a new column based on existing ones.

In [70]:
print("\ndf[['GrLivArea', 'SalePrice', 'BedroomAbvGr']]")
print(df[['GrLivArea', 'SalePrice', 'BedroomAbvGr']]) # Select  GrLivArea columns SalePrice BedroomAbvGr

print("\ndf.loc[3:10,['GrLivArea', 'SalePrice', 'BedroomAbvGr'] ]")
print(df.loc[3:10,['GrLivArea', 'SalePrice', 'BedroomAbvGr'] ])

print("\ndf.iloc[[3, 4, 5]]")
print(df.iloc[[3, 4, 5]])
print("\ndf.iloc[3:10,[6, 7, 8]]")
print(df.iloc[3:10,[6, 7, 8]])

df[['GrLivArea', 'SalePrice', 'BedroomAbvGr']]
      GrLivArea  SalePrice  BedroomAbvGr
Id
1          1710     208500             3
2          1262     181500             3
3          1786     223500             3
4          1717     140000             3
5          2198     250000             4
...         ...        ...           ...
1456       1647     175000             3
1457       2073     210000             3
1458       2340     266500             4
1459       1078     142125             2
1460       1256     147500             3

[1460 rows x 3 columns]

df.loc[3:10,['GrLivArea', 'SalePrice', 'BedroomAbvGr'] ]
    GrLivArea  SalePrice  BedroomAbvGr
Id
3        1786     223500             3
4        1717     140000             3
5        2198     250000             4
6        1362     143000             1
7        1694     307000             3
8        2090     200000             3
9        1774     129900             2
10       1077     118000             2

df.iloc[[3, 4, 5]]
    MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
Id
4           70       RL         60.0     9550   Pave   NaN      IR1
5           60       RL         84.0    14260   Pave   NaN      IR1
6           50       RL         85.0    14115   Pave   NaN      IR1

   LandContour Utilities LotConfig  ... PoolArea PoolQC  Fence MiscFeature  \
Id                                  ...
4          Lvl    AllPub    Corner  ...        0    NaN    NaN         NaN
5          Lvl    AllPub       FR2  ...        0    NaN    NaN         NaN
6          Lvl    AllPub    Inside  ...        0    NaN  MnPrv        Shed

   MiscVal MoSold  YrSold  SaleType  SaleCondition  SalePrice
Id
4        0      2    2006        WD        Abnorml     140000
5        0     12    2008        WD         Normal     250000
6      700     10    2009        WD         Normal     143000

[3 rows x 80 columns]

df.iloc[3:10,[6, 7, 8]]
   LotShape LandContour Utilities
Id
4       IR1         Lvl    AllPub
5       IR1         Lvl    AllPub
6       IR1         Lvl    AllPub
7       Reg         Lvl    AllPub
8       IR1         Lvl    AllPub
9       Reg         Lvl    AllPub
10      Reg         Lvl    AllPub

In [71]:
individual_df = pd.DataFrame(np.array([np.random.randint(2000000, 3000000,50), np.random.uniform(1.50, 1.70, size = 50), np.random.uniform(45, 90, size = 50)]).transpose(), columns=['ID','Height','Weight'])

individual_df["BMI"] = individual_df["Weight"] / individual_df["Height"].pow(2)
print("\nIndividual DF")
print(individual_df.head())

Individual DF
          ID    Height     Weight        BMI
0  2050393.0  1.562150  48.740801  19.973182
1  2172469.0  1.628333  49.411598  18.635559
2  2879222.0  1.601365  88.381983  34.465400
3  2212551.0  1.530559  51.948586  22.175522
4  2580511.0  1.513063  87.124347  38.056199

# Basic Statistics
`pandas` provides different statistical functions over `DataFrame`s.

In [72]:
print("\nMedian of the SalePrice column")
print(df.SalePrice.median())

print("\nSelecting rows by condition")
median_price = df.SalePrice.median()
print(df[df.SalePrice > median_price].head())

Median of the SalePrice column
163000.0

Selecting rows by condition
    MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
Id
1           60       RL         65.0     8450   Pave   NaN      Reg
2           20       RL         80.0     9600   Pave   NaN      Reg
3           60       RL         68.0    11250   Pave   NaN      IR1
5           60       RL         84.0    14260   Pave   NaN      IR1
7           20       RL         75.0    10084   Pave   NaN      Reg

   LandContour Utilities LotConfig  ... PoolArea PoolQC Fence MiscFeature  \
Id                                  ...
1          Lvl    AllPub    Inside  ...        0    NaN   NaN         NaN
2          Lvl    AllPub       FR2  ...        0    NaN   NaN         NaN
3          Lvl    AllPub    Inside  ...        0    NaN   NaN         NaN
5          Lvl    AllPub       FR2  ...        0    NaN   NaN         NaN
7          Lvl    AllPub    Inside  ...        0    NaN   NaN         NaN

   MiscVal MoSold  YrSold  SaleType  SaleCondition  SalePrice
Id
1        0      2    2008        WD         Normal     208500
2        0      5    2007        WD         Normal     181500
3        0      9    2008        WD         Normal     223500
5        0     12    2008        WD         Normal     250000
7        0      8    2007        WD         Normal     307000

[5 rows x 80 columns]

## Group-by

When working with data that contains also a categorical feature, we are often interested in performing some kind of calculation over all rows containing the same categorical value. For example, given a data frame of student grades for different courses, we can calculate the students' average grade.

In [73]:
students_df = pd.DataFrame(np.array([np.random.choice(["Zohar", "Shelly", "Omer", "Avi"],50), np.random.choice(["Linearit", "Intro", "Infi", "Probabilistic"], 50), np.random.randint(80, 101, 50)]).transpose(), columns=['Name','Course','Grade'])
students_df["Grade"] = students_df["Grade"].astype(int)

print("\n\nStudents df")
print(students_df.head())

print("\n\nCalculate average by student and by course")
print(students_df.groupby(['Name', 'Course']).mean().reset_index())

Students df
    Name         Course  Grade
0  Zohar          Intro    100
1   Omer          Intro     80
2   Omer           Infi     86
3    Avi           Infi     93
4   Omer  Probabilistic     86


Calculate average by student and by course
      Name         Course      Grade
0      Avi           Infi  93.000000
1      Avi          Intro  83.333333
2      Avi       Linearit  90.400000
3      Avi  Probabilistic  88.666667
4     Omer           Infi  88.666667
5     Omer          Intro  80.000000
6     Omer       Linearit  91.000000
7     Omer  Probabilistic  86.750000
8   Shelly           Infi  89.333333
9   Shelly          Intro  94.666667
10  Shelly       Linearit  95.500000
11  Shelly  Probabilistic  88.000000
12   Zohar           Infi  97.000000
13   Zohar          Intro  95.000000
14   Zohar       Linearit  84.000000
15   Zohar  Probabilistic  97.000000

## Sorting
As in `numpy` you can sort data frame based on a column

In [74]:
students_df.sort_values(by='Grade').head()

      Name         Course  Grade
1     Omer          Intro     80
32     Avi       Linearit     80
20  Shelly           Infi     80
43  Shelly  Probabilistic     82
31     Avi          Intro     82

## Executing Functions By Columns

In `pandas`, you can select columns and apply functions to them. You also can apply functions by elements.

In [75]:
df = pd.DataFrame(np.random.randint(1, 10, (5,3)),columns=['col1','col2','col3'])

print("\n\ndf")
print(df)
print("\nCalculate the difference between the min and the max of each column")
print(df.apply(lambda x: x.max() - x.min()))

# Apply by element
print("\nMultiply elements by 100")
print(df.applymap(lambda x:x*100))

print("\n\nIterate over the columns")
print("\n-----------------------")
for key,value in df.iteritems():
   print(key,value)

print("\n\nIterate over the rows")
print("\n-----------------------")
for row_idx,row in df.iterrows():
   print(row_idx,row)

df
   col1  col2  col3
0     2     7     9
1     3     3     5
2     7     8     6
3     1     4     7
4     1     1     4

Calculate the difference between the min and the max of each column
col1    6
col2    7
col3    5
dtype: int64

Multiply elements by 100
   col1  col2  col3
0   200   700   900
1   300   300   500
2   700   800   600
3   100   400   700
4   100   100   400


Iterate over the columns

-----------------------
col1 0    2
1    3
2    7
3    1
4    1
Name: col1, dtype: int32
col2 0    7
1    3
2    8
3    4
4    1
Name: col2, dtype: int32
col3 0    9
1    5
2    6
3    7
4    4
Name: col3, dtype: int32


Iterate over the rows

-----------------------
0 col1    2
col2    7
col3    9
Name: 0, dtype: int32
1 col1    3
col2    3
col3    5
Name: 1, dtype: int32
2 col1    7
col2    8
col3    6
Name: 2, dtype: int32
3 col1    1
col2    4
col3    7
Name: 3, dtype: int32
4 col1    1
col2    1
col3    4
Name: 4, dtype: int32

## Merging Data Frames

In [76]:
# Concatenate data frames
import pandas as pd

# Create 2 data frames
ids_df1 = pd.DataFrame({
        'ID': ['336097897', '32109678', '25976389', '32438509', '36790307'],
         'name': ['Amos', 'Eran', 'Sapir', 'Amichai', 'Hadar'], 
        'gender': ["M", "M", "F", "M", "F"]})

ids_df2 = pd.DataFrame({
        'ID': ['21370565', '34256798', '3908412', '326780578'],
        'name': ['Matan', 'Gabriel', 'Anael', 'Liora'], 
        'gender': ["M", "M", "F", "F"]})

print("\n\ndf1")
print(ids_df1)
print("\ndf2")
print(ids_df2)
print("\n\nJoin the two dataframes along rows:")
concatenate_data = pd.concat([ids_df1, ids_df2])
print(concatenate_data)

df1
          ID     name gender
0  336097897     Amos      M
1   32109678     Eran      M
2   25976389    Sapir      F
3   32438509  Amichai      M
4   36790307    Hadar      F

df2
          ID     name gender
0   21370565    Matan      M
1   34256798  Gabriel      M
2    3908412    Anael      F
3  326780578    Liora      F


Join the two dataframes along rows:
          ID     name gender
0  336097897     Amos      M
1   32109678     Eran      M
2   25976389    Sapir      F
3   32438509  Amichai      M
4   36790307    Hadar      F
0   21370565    Matan      M
1   34256798  Gabriel      M
2    3908412    Anael      F
3  326780578    Liora      F

In [77]:
birthdates_id = pd.DataFrame({
        'ID': ['336097897', '32109678', '25976389', '32438509', '36790307', '21370565', '34256798', '3908412', '326780578'],
        'birth_year': [1995, 1996, 1993, 1994, 1997, 1991, 1994, 1992, 1996]})

print("\nNow join the result_data and df_exam_data along ID:")
pd.merge(concatenate_data, birthdates_id, on='ID')

Now join the result_data and df_exam_data along ID:

          ID     name gender  birth_year
0  336097897     Amos      M        1995
1   32109678     Eran      M        1996
2   25976389    Sapir      F        1993
3   32438509  Amichai      M        1994
4   36790307    Hadar      F        1997
5   21370565    Matan      M        1991
6   34256798  Gabriel      M        1994
7    3908412    Anael      F        1992
8  326780578    Liora      F        1996

## Let's Practice!

Let us create a table of flight companies' flights. Each row will represent a single flight and will have 3 features: city of departure, city of destination and price. 

Implement a function `create_flight_df` that recieves a collection of cities and creates a dataset of randomly selected flights and a price in the range of 100-400.

```
    def create_flight_df(cities_poss, nrows = 100):
        pass
```

The output data frame must not have more than a single record for any pair of cities. There are no flights from a city to itself.

In [78]:
import numpy as np
import pandas as pd

def create_flight_df(cities, nrows = 20):
    df = pd.DataFrame([], columns=["Departure", "Destination", "Price"])
    
    while df.shape[0] < nrows:
        dep, dest = np.random.choice(cities, size=2, replace=False)
        price = np.random.randint(100, 400)
        
        if not ((df["Departure"] == dep) & (df["Destination"] == dest)).any():
            df = df.append({"Departure": dep, "Destination": dest, "Price": price}, ignore_index=True)
    return df

cities = ["Beijing", "Moscow", "New-York", "Tokyo", "Paris", "Cairo", "Santiago", "Lima", "Kinshasa", "Singapore", 
          "New-Delhi", "London", "Ankara", "Nairobi", "Ottawa", "Seoul", "Tehran", "Guatemala", "Caracas", "Vienna"]

flights = create_flight_df(cities)
flights.head()

  Departure Destination Price
0   Caracas      Tehran   277
1    Moscow    Santiago   162
2  Kinshasa     Nairobi   238
3  Santiago       Paris   118
4      Lima      Ankara   214

As there are pairs of cities with no direct flight between them, let us find the pairs of cities that have a single connection flight between them and calculate the total price of the flgihts. To do so merge the two data frames. This operation is often referred to as "joining" with the options of inner, outer, left, right and cross joining. For more about merging `pandas` data frames read the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging).

In [79]:
df = pd.merge(flights, flights, left_on=["Destination"], right_on=["Departure"], how="inner")
df = df[df.Departure_x != df.Destination_y]
df["Total_Price"] = df["Price_x"] + df["Price_y"]

df.head()

,Departure_x,Destination_x,Price_x,Departure_y,Destination_y,Price_y,Total_Price
0,Moscow,Santiago,162,Santiago,Paris,118,280
1,Caracas,Santiago,253,Santiago,Paris,118,371
2,Seoul,Santiago,331,Santiago,Paris,118,449
3,Santiago,Paris,118,Paris,Vienna,380,498
4,Santiago,Paris,118,Paris,London,140,258

Create a data frame with all flights of no connection and single connection.

In [80]:
flights = flights.append(df[["Departure_x", "Destination_y", "Total_Price"]]\
                         .rename(columns={"Departure_x":"Departure", "Destination_y":"Destination", "Total_Price":"Price"}))
flights

    Departure Destination Price
0     Caracas      Tehran   277
1      Moscow    Santiago   162
2    Kinshasa     Nairobi   238
3    Santiago       Paris   118
4        Lima      Ankara   214
5   New-Delhi      Ottawa   241
6       Paris      Vienna   380
7      Ottawa      Tehran   226
8       Cairo      Vienna   294
9      Vienna   Guatemala   302
10    Beijing      Tehran   143
11     Ankara        Lima   142
12     Ottawa     Caracas   105
13    Caracas    Santiago   253
14   Kinshasa      London   158
15     Moscow    Kinshasa   271
16      Tokyo     Beijing   309
17      Paris      London   140
18      Seoul    Santiago   331
19      Cairo       Tokyo   306
0      Moscow       Paris   280
1     Caracas       Paris   371
2       Seoul       Paris   449
3    Santiago      Vienna   498
4    Santiago      London   258
6   New-Delhi      Tehran   467
7   New-Delhi     Caracas   346
8       Paris   Guatemala   682
9       Cairo   Guatemala   596
11     Ottawa      Tehran   382
12     Ottawa    Santiago   358
13     Moscow     Nairobi   509
14     Moscow      London   429
15      Tokyo      Tehran   452
16      Cairo     Beijing   615

Since now we might have more than one way to flight between each pair of cities, let us find the cheapest flight option, with one connection, between two cities.

In [81]:
min_by_group = df.groupby(["Departure_x", "Destination_y"], as_index=False)["Total_Price"].min()
min_by_group

   Departure_x Destination_y  Total_Price
0        Cairo       Beijing          615
1        Cairo     Guatemala          596
2      Caracas         Paris          371
3       Moscow        London          429
4       Moscow       Nairobi          509
5       Moscow         Paris          280
6    New-Delhi       Caracas          346
7    New-Delhi        Tehran          467
8       Ottawa      Santiago          358
9       Ottawa        Tehran          382
10       Paris     Guatemala          682
11    Santiago        London          258
12    Santiago        Vienna          498
13       Seoul         Paris          449
14       Tokyo        Tehran          452

And if we want to know on average what is the most expensive city to fly to then:

In [82]:
mean_by_dest = min_by_group.groupby("Destination_y")["Total_Price"].mean()
expensive_city = mean_by_dest.idxmax()
expensive_city

'Guatemala'